In [163]:
import pandas as pd

#### 1. Read the csv or excel file.

In [164]:
used_bike = pd.read_csv(r"d:\Users\HP\Desktop\Siddhant Jain\NeenOpal\used_bikes.csv",header = 0)

In [165]:
used_bike

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha

#### 2. Change the datatypes of the column and check the memory usage before and after the change in the data types.

In [166]:
used_bike.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [167]:
used_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 9.4+ KB

In [168]:
used_bike.memory_usage().sum()

9664

In [169]:
## Changing datatype of price, age, kms_driven, Power

used_bike['price'] = used_bike["price"].astype('int')

used_bike['age'] = used_bike["age"].astype('int')

used_bike['kms_driven'] = used_bike["kms_driven"].astype('int')

used_bike['power'] = used_bike["power"].astype('int')

In [170]:
used_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    int32
 2   city        149 non-null    object
 3   kms_driven  149 non-null    int32
 4   owner       149 non-null    object
 5   age         149 non-null    int32
 6   power       149 non-null    int32
 7   brand       149 non-null    object
dtypes: int32(4), object(4)
memory usage: 7.1+ KB

In [171]:
## Changing datatype of brand

used_bike['brand'] = used_bike['brand'].astype('category')

In [172]:
used_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    int32
 2   city        149 non-null    object
 3   kms_driven  149 non-null    int32
 4   owner       149 non-null    object
 5   age         149 non-null    int32
 6   power       149 non-null    int32
 7   brand       149 non-null    category
dtypes: category(1), int32(4), object(3)
memory usage: 6.8+ KB

#### Memory usage before = 9.4+ KB

#### Memory usage Now = 6.8+ KB

In [173]:
used_bike.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,First Owner,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,First Owner,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,First Owner,3,150,Yamaha

In [174]:
## Removing indexing from the table

used_bike.reset_index(drop=True, inplace=True)

#### 3. Dump the data into the mysql database.

In [176]:
from sqlalchemy import create_engine as ce

In [177]:
## Created the database trial_3 in MySQL then mentioned the name in the link with user & password

mysql_engine = ce("mysql://root:mysql@localhost:3306/Trial_3")

In [178]:
dbConnection = mysql_engine.connect()

In [179]:
used_bike.to_sql('bike_4', mysql_engine)

149

#### 4. index the column after the data is inserted.

In [180]:
used_bike_4 = pd.read_sql("select * from bike_4", dbConnection);

,index,bike_name,price,city,kms_driven,owner,age,power,brand
0,0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,TVS
1,1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,Royal Enfield
2,2,Triumph Daytona 675R,600000,Delhi,110,First Owner,8,675,Triumph
3,3,TVS Apache RTR 180cc,65000,Bangalore,16329,First Owner,4,180,TVS
4,4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,First Owner,3,150,Yamaha
...,...,...,...,...,...,...,...,...,...
144,144,Royal Enfield Standard 350cc,115000,Hyderabad,14900,First Owner,3,350,Royal Enfield
145,145,Honda CB Shine 125cc Disc,65000,Mumbai,2000,First Owner,3,125,Honda
146,146,Honda CB Unicorn ABS 150cc,99000,Mumbai,4000,First Owner,2,150,Honda
147,147,Yamaha YZF-R15 2.0 150cc,68500,Delhi,68500,Second Owner,7,150,Yamaha
148,148,Yamaha YZF-R15 V3 150cc,140000,Delhi,2473,First Owner,2,150,Yamaha

In [184]:
used_bike_4 = pd.read_sql("CREATE INDEX Serial_No ON bike_4 (bike_name,price,city,kms_driven,owner,age,power,brand)",dbConnection)

OperationalError: (MySQLdb.OperationalError) (1170, "BLOB/TEXT column 'bike_name' used in key specification without a key length")
[SQL: CREATE INDEX Serial_No ON bike_4 (bike_name,price,city,kms_driven,owner,age,power,brand)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)